@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { font-family: Din; src: url('fonts/dinpro.otf'); } 
@font-face { font-family: Din; font-weight: 500; src: url('fonts/dinpro_medium.otf'); } 
@font-face { font-family: Din; font-weight: 700; src: url('fonts/dinpro_bold.otf');}

.font-din-regular {
    font-family: Din, sans-serif;
}
.font-din-medium {
    font-family: Din, sans-serif;
    font-weight: 500;
}
.font-din-bold {
    font-family: Din, sans-serif;
    font-weight: 700;
}
.start-image {
    width: 370px;
    height: 480px;
}
.start-image-shadow {
    -webkit-box-shadow: -38px 45px 0px 0px #F5F8FA;
    -moz-box-shadow: -38px 45px 0px 0px #F5F8FA;
    box-shadow: -38px 45px 0px 0px #F5F8FA;
}
.card-image {
    width: 230px;
}
.card {
    width: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
